body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {

	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

	        clip-path: inset(100%);
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	        position: relative;
}

.button {
	display: inline-block;
	margin: 0;
	padding:0;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;

	border-radius: 3px;
	border: none;
}

.main-header {
	margin: 0;
	padding: 0;
	
	background-color: #eeeeee;	
}

.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-top: 49px;
	
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
}

.main-header-logo {
	padding: 0;
	margin:0;
	border: none;
	width: 160px;
	height: 65px;

	-webkit-box-sizing: border-box;
			box-sizing: border-box;;
}

.main-header-logo:hover,
.main-header-logo:focus {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.main-header-logo-active:hover,
.main-header-logo-active:focus,
.main-header-logo-active:active {
	opacity: 1;
}


.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 440px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0; 
	padding-top: 26px;

	list-style: none;
}

.user-cart {
	position: relative;
	width: 160px;
	margin:0;
	padding:0;
	padding-left: 85px;
	padding-top: 26px;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
}

.site-navigation a,
.user-cart a {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-cart a:hover,
.user-cart a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.user-cart a:active {
	color: #000000;
	opacity: 0.3;
}

.user-cart a::before {
	content: "";
	position: absolute;
	left: 45px;
	top: 33px;
	width: 15px;
	height: 15px;

	background-image: url("../img/cart-icon.png");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}

 
/*слайдеры*/

.sliders {
	position: relative;
	background-color: #eeeeee;
	margin-bottom: 80px;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;

	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.slider-controls i {
 	position: relative;
  
	display: inline-block;
  	width: 18px;
  	height: 18px;
  	padding: 8px;

  	vertical-align: middle;
  
  	border-radius: 50%;
  	cursor: pointer;

}

.slider-controls i::after {
  	content: "";
  
  	position: absolute;
  	top: 8px;
  	left: 8px;
  	z-index: 1;
  
  	width: 18px;
  	height: 18px;
  
  	background: #ffffff;

  	 border-radius: 50%;
}

.slider-controls .active::before {
	content: "";

	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;

	width: 4px;
	height: 4px;
	margin: -4px;

	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slider-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.slider-item {
	display: none;
	padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
	display: block;
}

.slider-item:nth-child(1) {
	background-image: url(../img/slide1.png);
	background-repeat: no-repeat;
	background-position: 93% 18px;
}

.slider-item:nth-child(2) {
	background-image: url(../img/slide2.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider-item:nth-child(3) {
	background-image: url(../img/slide3.png);
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

.slider-item h3 {
	max-width: 600px;
	margin: 0;
	margin-bottom: 28px; 

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-item p {
	max-width: 430px;
	margin: 0;
	margin-bottom: 40px;
}

.slider-item-button {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	min-width: 240px;
	min-height: 50px;
	padding: 16px 53px;
	background-color: #fb565a;
	margin-bottom: -2px;
}

.slider-item-button:hover,
.slider-item-button:focus {
	background-color: #e74246;
}

.slider-item-button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
	-webkit-box-shadow: 0 3px rdba(0, 0, 0, 0.1) insert;
	        box-shadow: 0 3px rdba(0, 0, 0, 0.1) insert;
}

.page-title {
	display: block;
	margin: 0;
	padding: 0;
	padding-top: 77px;
	padding-bottom: 110px;
	margin-bottom: 55px;
	background-color: #eeeeee;
}


/*блок преимуществ*/
.features {
	margin:0;
	padding:0;
	margin-bottom: 80px;
}

.features-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-right: 60px;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
	list-style: none;
}

.feature-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin: 0;
	padding: 0;
	width: 300px;
	/*text-align: left;*/

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	
}

.feature-item img {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
}

.feature-item h3 {
	padding: 0;
	margin:0;
	margin-bottom: 15px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	
}

.feature-item p {
	margin: 0;
	padding: 0;
	width: 260px;
	margin-bottom: 33px;
	margin-right: 50px;
}

/*кнопки преимуществ*/

.button-feature {
	padding: 16px 40px;

}

.feature-item a {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
}

.feature-item .button-red {
	background-color: #fb565a;
}

.feature-item .button-red:hover,
.feature-item .button-red:focus {
	background-color: #e74246;	
}

.feature-item .button-red:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
	-webkit-box-shadow: 0 3px rdba(0, 0, 0, 0.1) insert;
	        box-shadow: 0 3px rdba(0, 0, 0, 0.1) insert;	
}

.feature-item .button-green {
	background-color: #00ca74;
}

.feature-item .button-green:hover,
.feature-item .button-green:focus {
	background-color: #00bc6c;	
}

.feature-item .button-green:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #00aa62;
	-webkit-box-shadow: 0 3px rdba(0, 0, 0, 0.1) insert;
	        box-shadow: 0 3px rdba(0, 0, 0, 0.1) insert;	
}

.feature-item .button-yellow {
	background-color: #efc84a;
}

.feature-item .button-yellow:hover,
.feature-item .button-yellow:focus {
	background-color: #eab534;	
}

.feature-item .button-yellow:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #e5a722;	
	-webkit-box-shadow: 0 3px rdba(0, 0, 0, 0.1) insert;	
	        box-shadow: 0 3px rdba(0, 0, 0, 0.1) insert;
}


/*о нас*/
.index-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-top: 40px;
	border-top: 2px solid #eeeeee; 
	margin-bottom: 48px;
}

.about {
	width: 660px;
	padding-top: 35px
}

.about-us b {
	display: block;
	font-size: 45px;
	line-height: 45px;	
	font-weight: 500;

	margin-right: 10px;
	margin-bottom: 33px;
}

.about-us p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	margin-bottom: 38px
}

.about h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	
	text-transform: uppercase;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
}

.orders {
	margin: 0;
	padding: 0;

	list-style: none;
}

.orders li {
	position: relative;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	
	padding-left: 36px;
	margin-bottom: 24px;
}

.orders li::before {
	content: "";
	position: absolute;
	
	top: 50%;
	left: 1px;
	width: 25px;
	height: 2px;

	background-color: #fb565a;
}


/*лучшее в нас*/
.best-of-us img {
	margin-bottom: 28px;
}

.best-of-us {
	width: 360px;
}

.best-table {
	width: 360px;
}

.best-table caption {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	margin-bottom: 52px;
	text-transform: uppercase;
	text-align: center;
}

.best-table td {
	width: 120px;
	padding: 15px 0;
	font-size: 45px;
	line-height: 10.06px;
	font-weight: 700;
}

.best-table th {
	width: 120px;

	text-align: left;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}


.best-table .percent {
	width: 120px;
	padding: 6px 0px 34px 0;
	font-size: 45px;
	line-height: 10px;
	font-weight: 700;	
}

.percent sup {
	font-size: 28px;
}


/*блок партнеры*/
.partners {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 45px;
	padding-bottom: 43px;
}

.partners-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	margin: 0;
	padding: 0;

	list-style: none;
}	

.partner-item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	padding: 0;
	margin-right: 40px;
	

	min-width: 260px;
}

.partner-item img{
	display: block;
	padding: 0;
	margin: 0;
	opacity: 0.2;
}

.partner-item .partner-button:hover img,
.partner-item .partner-button:focus img {

	opacity: 1;
}

.partner-item .partner-button:active img {
	opacity: 0.1;
}

.partner-item::before {
	content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
    top: 20px;
    right: -21px;
}

.partner-item:last-child {
	margin-right: 0;
}

.partner-item:last-child::before {
	display: none;
}


/*разметка каталога.html*/
.page-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;

	text-align: center;
}

.main-navigation .current {
	border-bottom: 2px solid #fb565a;
	padding-bottom: 5px;
}

.catalog-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}


/*фильтер каталога*/
.filters {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.filters form {
	margin: 0;
	padding: 0;

}

.filter-item {
	margin: 0;
	padding: 0;

	border: none;
}

.filter-item legend {
	margin: 0;
	padding: 0;
	
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;
}


/*ползунок*/
.range-filter {
	width: 260px;
	margin-top: 49px;
	margin-bottom: 55px;
}

.range-controls {
	position: relative;

	height: 41px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-left: 20px;
	padding-right: 20px;

	background-color: #f1f1f1;

	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;

	background: #d7dcde;
}


.range-controls .bar {
	width: 70%;
	height: 2px;

	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;

	width: 4px;
	height: 4px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
	        box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	width: 50%;
	
	vertical-align: middle;
	font-size: 16px;
	text-transform: uppercase;
}

.price-controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #283136;

	border: none;
	border-radius: 5px;
	background: #f1f1f1;
}

.max-price {
	text-align: right;
}

.filter ul {
	margin: 0;
	padding: 0;

	list-style: none;
	line-height: 20px;

	color: #283136;
}

.filter .filter-option {
	margin-bottom: 21px;
	padding-left: 36px;
}

.filter-option label {
	position: relative;

	display: block;

	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.grids {
	margin-bottom: 25px;
}

.grids legend {
	margin-bottom: 16px;
}

.specificity legend {
	margin-bottom: 17px;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;

	width: 23px;
	height: 23px;

	top: 0;
	left: -35px;

	background-image: url("../img/checkbox-off.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
	content: "";
	position: absolute;

	width: 27px;
	height: 23px;

	top: 0;
	left: -35px;

	background-image: url("../img/checkbox-on.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.4;
}

.filter-input-radio + label::before {
	content: "";
	position: absolute;

	width: 25px;
	height: 25px;

	top: -3px;
	left: -35px;

	background-image: url("../img/radio-off.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.4;
  	
}

.filter-input-radio:checked + label::before {
	content: "";
	position: absolute;

	width: 27px;
	height: 25px;

	top: -3px;
	left: -35px;

	
	background-image: url("../img/radio-on.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
	opacity: 0.4;
}

.filter-input:hover + label::before,
.filter-input:focus + label::before {
	opacity: 1;
}

.filter-input:disabled + label {
	color: #283136;
	opacity: 0.5;
}

.filter-button {
	width: 100%;
	padding: 16px 0;
	margin-top: 32px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;

	background-color: #eeeeee;
	border: none;
	cursor: pointer;
	outline: none;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf;
}

.filter-button:active {
	opacity: 0.3;
	background-color: #5d5d5d;

}


/*сортировка каталога*/
.catalog-sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 55px;
	width: 760px;

}

.catalog-sorting span {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	width: 160px;
	display: block;
	margin-top: 5px;

	text-transform: uppercase;
}

.catalog-controls {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	margin: 0;
	padding: 0;
	padding-top: 3px;
	width: 360px;
}

.catalog-controls .catalog-sorting-option {
	margin: 0;
	padding: 0;
	margin-right: 27px;

	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	opacity: 0.3;

	text-transform: uppercase;
}

.catalog-arrow-down,
.catalog-arrow-up {
	position: absolute;

	width: 11px;
	height: 11px;
}

.catalog-arrow-down {
	top: 6px;
	right: 30px;
	background-image: url("../img/arrow-down.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.4;
}

.catalog-arrow-up {
	top: 6px;
	right: 1px;
	background-image: url("../img/arrow-up.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 0.4;
}

.catalog-sorting a:hover,
.catalog-sorting a:focus {
	opacity: 0.6;
} 

.catalog-sorting a:active,
.catalog-sorting .catalog-sorting-active,
.catalog-sorting .catalog-sorting-active:hover,
.catalog-sorting .catalog-sorting-active:focus,
.catalog-sorting .catalog-arrow-active,
.catalog-sorting .catalog-arrow-active:hover,
.catalog-sorting .catalog-arrow-active:focus {
	opacity: 1;
}


/*каталог шаблонов*/
.catalog {
	margin: 0;
	padding: 0;
	width: 760px;
}


.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	margin: 0;
	margin-bottom: 25px;

	-ms-flex-wrap: wrap;

	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	list-style: none;
}

.catalog-item {
	position: relative;
	width: 360px;
	margin-bottom: 33px;
}

.catalog-item img {
	display: block;
	margin: 0;
	padding: 0;

	border: 0.5px solid #e5e5e5; 
}

.catalog-item::before {
	content: "";
	display: block;
	margin: 0;
	padding: 0;

	width: 361px;
	height: 40px;

	background-image: url("../img/browser.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 0.12;
}

.catalog-item:hover::before,
.catalog-item:focus::before{
	opacity: 1;
}

.hover-info {
	display :none;
	position: absolute;
	
	bottom: 0;
	left: 0;

	padding-top: 28px;

	width: 360px;
	min-height: 231px;
	text-align: center;
	background-color: #eeeeee; 
	-webkit-box-sizing: border-box; 
	        box-sizing: border-box;
}

.catalog-item:hover .hover-info {
	display: block;
}

.hover-info h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;

	text-transform: uppercase;
}

.hover-info .catalog-item-category {
	display: block;
	padding: 0;
	margin: 0;
	margin-bottom: 32px;
	width: 240px;
	margin-left: auto;
	margin-right: auto;

	text-align: center;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}

.hover-info .button-price {
	display: block;
	margin: 0;
	padding: 16px 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 42px;
	width: 200px;

	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;

	background-color: #fb565a;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.hover-info .button-price:hover,
.hover-info .button-price:focus {
	background-color: #e74246;
}

.hover-info .button-price:active {
	background-color: #d7373b;
}


.catalog-item .item-browser-hover {
	opacity: 1;
}


/*кнопки пагинации*/
.paginations {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	
	list-style: none;
	min-height: 50px;
}

.pagination-item {
	margin-right: 12px;
}

.pagination-item a,
.button-paginator-next {
	display: block;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
	background-color: #eeeeee;
	border: 3px solid #eeeeee;	
	border-radius: 5px;
}

.pagination-item a {
	padding: 12px 17px;
}

.button-paginator-next {
	padding: 12px 75px;
}

.pagination-item a:hover,
.pagination-item a:focus,
.button-paginator-next:hover,
.button-paginator-next:focus {
	background-color: #dfdfdf;	
	border-color: #dfdfdf;
}

.pagination-item a:active,
.button-paginator-next:active {
	color: #a9a9a9;
	background-color: #d5d5d5;
	border-color: #d5d5d5;
}

.pagination-item-current a {
	color: #000000;
	background-color: transparent;
	border: 3px solid #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,		
.pagination-item-current a:active {
	color: #000000;
	border: 3px solid #dbdbdb;
	background-color: transparent;	
}


/*футер*/
.main-footer {
	margin-top: 80px;
}

.main-footer-inner {
	margin-top: 59px;
}


/*карта и контакты*/
.footer-contacts {
	position: relative;
	color: #666666;
	margin-bottom: 65px;
}

/*карта*/
.footer-contacts iframe{
	width: 100%;
	min-height: 416px;

	border: none;
}

.footer-contacts .container {
	position: relative;
} 

.contact-area {
	position: absolute;
	margin: 0;
	padding: 0;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;

	height: 308px;
	
	bottom: 60px;
	left: 20px;

	background-color: #ffffff;
	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
}

.contact-area b {
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 23px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.contact-area p {
	padding: 0;
	margin: 0;
	margin-bottom: 18px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}

.contact-area span {
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
	
	font: inherit;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}

.button-contact-area {
	padding: 16px 45px;

	background-color: #fb565a;
}

.button-contact-area:hover,
.button-contact-area:focus {
	background-color: #e74246;	
}

.button-contact-area:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
	-webkit-box-shadow: 0 3px rdba(0, 0, 0, 0.1) insert;
	        box-shadow: 0 3px rdba(0, 0, 0, 0.1) insert;	
}


.footer-social	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-bottom: 70px;
	
}

.social-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 260px;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-right: 140px;

	list-style: none;
}

.social-button:hover,
.social-button:focus {
	background-color: #e74246;
}

.social-button:active {
	background-color: #d7373b;
}

.social-button:active path {
	fill: #e37376;
}

.footer-social li {
	padding: 0;
	margin: 0;
	
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 78px;
	height: 78px;

	background-color: #e1e1e1;
	border-radius: 50%;
}

.friendship {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 560px;
}

.friendship p {
	margin: 0;
	padding: 0;
	margin-top: 5px;
	margin-bottom: 11px;

	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}

.friendship span {
	margin: 0;
	padding: 0;

	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}


/*форма связи*/
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.modal {
	display: none;
	position: fixed;

	color: #000000;

	background-color: #ffffff;
	-webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	        box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

}

.modal-show {
	display: block;

	-webkit-animation: bounce 0.6s;

	        animation: bounce 0.6s;
}

.modal-contacts {
	left: 50%;
	bottom: 180px;
	width: 760px;
	margin-left: -480px;
	padding: 65px 100px;

}

.contact-form {
	font-family: inherit;
	display: block;
}

.modal-contacts .wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	margin-bottom: 40px;
}


.contact-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	margin: 0;
	padding: 0;
} 

.modal-contacts h2 {
	margin-top: 0;
	margin-bottom: 48px;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.contact-item label {
	padding-bottom: 5px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}

.contact-item input,
.contact-item textarea {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;	

	border: 2px solid #d7dcde;
	border-radius: 3px;
}

.contact-item input {
	width: 328px;
	height: 46px;
	padding: 0 14px;
}

.contact-item input:invalid {
	color: #e74246; 
	dorder: 2px solid #e74246;
}

.contact-item textarea {
	height: 114px;
	padding: 10px 13px;

	margin-bottom: 47px;
}

.modal-contacts-button {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 16px 80px;
	background-color: #fb565a;

}

.modal-contacts-button:hover,
.modal-contacts-button:focus {
	background-color: #e74246;
}

.modal-contacts-button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
	-webkit-box-shadow: 0 3px rdba(0, 0, 0, 0.1) insert;
	        box-shadow: 0 3px rdba(0, 0, 0, 0.1) insert;
}

.contact-item input:focus,
.contact-item textarea:focus {
	border-color: #000000;

}

.contact-item input:hover,
.contact-item textarea:hover {
	border-color: #b4b9bb;
}
	

/*кнопка закрытия попапа*/
.modal-close {
	position: absolute;
	top: 76px;
	right: 93px;

	width: 22px;
	height: 22px;

	font-size: 0;
	background-color: transparent;

	border: 0;
	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";

	position: absolute;
	top: 10px;
	left: 2px;

 	width: 27px;
 	height: 5px;

 	background-color: #fecccd;
}

.modal-close::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.modal-close::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}