 {
	outline: 1px dashed red;
}

body {
	min-width: 1440px;
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
	/*background-image: url("nerds-index.jpg");
	background-position: top center;
	background-repeat: no-repeat;*/
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active) {

	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.main-header {
	margin: 0;
	padding: 0;

	
	background-color: #eeeeee;	
	margin-bottom: 81px;
}

.main-navigation {
	display: flex;
	
	padding: 0;
	margin: 0;
	
	padding-top: 49px;
	/*временно*/
	
}

.main-header-logo {
	margin-right: 200px;
	width: 160px;
	height: 65px;
	/*display: block;*/
}

.main-header-logo:hover,
.main-header-logo:focus {
	opacity: 0.8;
}
.main-header-logo:active {
	opacity: 0.3;
}



.site-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 440px;
	justify-content: space-between;
	margin: 0;
	padding: 0; 
	/*margin-rigt: 200px;*/
	padding-top: 26px;

	list-style: none;
}

.user-cart {
	position: relative;
	width: 160px;
	margin:0;
	padding:0;
	margin-left: 200px;
	padding-top: 26px;
}

.site-navigation a,
.user-cart a {
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
}

.user-cart a {
	margin-left: 85px;
}

.user-cart a::before {
	content: "";
	position: absolute;
	left: 45px;
	top: 35px;
	width: 15px;
	height: 15px;

	background-image: url("../img/cart-icon.png");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-cart a:hover,
.user-cart a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.user-cart a:active {
	color: #000000;
	opacity: 0.3;
}

/*слайдеры*/

.sliders {
	position: relative;
	background-color: #eeeeee;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;

	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider-controls i {
 	position: relative;
  
	display: inline-block;
  	width: 18px;
  	height: 18px;
  	padding: 8px;
  
  	border-radius: 50%;
  	cursor: pointer;

}

.slider-controls i::after {
  	content: "";
  
  	position: absolute;
  	top: 8px;
  	left: 8px;
  	z-index: 1;
  
  	width: 18px;
  	height: 18px;
  
  	background: #ffffff;

  	 border-radius: 50%;
}

.slider-controls .active::before {
	content: "";

	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;

	width: 4px;
	height: 4px;
	margin: -4px;

	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slider-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.slider-item {
	display: none;
	padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
	display: block;
}

.slider-item:nth-child(1) {
	background-image: url(../img/slide1.png);
	background-repeat: no-repeat;
	background-position: 93% 18px;
}

.slider-item:nth-child(2) {
	background-image: url(../img/slide2.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider-item:nth-child(3) {
	background-image: url(../img/slide3.png);
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

.slider-item h3 {
	max-width: 600px;
	margin: 0;
	margin-bottom: 28px; 

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-item p {
	max-width: 430px;
	margin: 0;
	margin-bottom: 43px;
}

.button {
	display: block;
	width: 240px;
	padding: 15px 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	background-color: #fb565a;
	border-radius: 3px;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
	box-shadow: 0 3px rdba(0, 0, 0, 0.1) insert;
}

/*шапка каталога*/

.inner-page .main-header {
	margin-bottom: 62px;
	min-height: 355px;
}

.inner-page nav {
	margin-bottom: 82px;
}

/*блок преимуществ*/
.features {
	margin:0;
	padding:0;
	margin-bottom: 78px;
	

}

.features-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-right: 60px;

	list-style: none;
}

.feature-item {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 300px;
	text-align: left;

	/*временно
	min-height: 350px;*/
}

.feature-item img {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;

	order: -1;

}

.feature-item h3 {
	padding: 0;
	margin:0;
	margin-bottom: 15px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	order: 0;
}

.feature-item p {
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
	margin-right: 50px;

}

/*кнопки преимуществ*/

.button-feature {
	width: 160px;
}

.feature-item a {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
}

.feature-item .button-red {
	background-color: #fb565a;
}

.feature-item .button-red:hover,
.feature-item .button-red:focus {
	background-color: #e74246;	
}

.feature-item .button-red:active {
	color: #ffffff;
	opacity: 0.3;
	background-color: #d7373b;	
}

.feature-item .button-green {
	background-color: #00ca74;
}

.feature-item .button-green:hover,
.feature-item .button-green:focus {
	background-color: #00bc6c;	
}

.feature-item .button-green:active {
	color: #ffffff;
	opacity: 0.3;
	background-color: #00aa62;	
}

.feature-item .button-yellow {
	background-color: #efc84a;
}

.feature-item .button-yellow:hover,
.feature-item .button-yellow:focus {
	background-color: #eab534;	
}

.feature-item .button-yellow:active {
	color: #ffffff;
	opacity: 0.3;
	background-color: #e5a722;	
}

/*о нас*/

.index-columns {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-top: 40px;
	border-top: 2px solid #eeeeee; 
	margin-bottom: 50px;
	/*временно
	min-height: 410px;*/
}

.about {
	width: 660px;
	padding-top: 35px
}

.about-us b {
	display: block;
	font-size: 45px;
	line-height: 45px;	
	font-weight: 500;

	margin-right: 10px;
	margin-bottom: 33px;
}

.about-us p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	margin-bottom: 38px
}

.about h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	

	text-transform: uppercase;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
}

.orders {
	margin: 0;
	padding: 0;

	list-style: none;
}

.orders li {
	position: relative;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	
	padding-left: 36px;
	margin-bottom: 24px;
}

.orders li::before {
	content: "";
	position: absolute;
	
	top: 50%;
	left: 1px;
	width: 25px;
	height: 2px;

	background-color: #fb565a;
}

.best-of-us img {
	margin-bottom: 28px;
}

.best-of-us {
	width: 360px;
}
/*Таблица*/
.best-table {
	width: 360px;
}

.best-table caption {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	margin-bottom: 38px;
	text-transform: uppercase;
	font-weight: 700;
}

.best-table th {
	width: 120px;
	padding-top: 20px;

	text-align: left;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}


.best-table td {
	width: 120px;
	padding: 15px 0;
	font-size: 45px;
	line-height: 10.06px;
	font-weight: 700;	
}

.best-table tr span {
	vertical-align: super;
	font-weight: 700;
	font-size: 22.5px;
}

.partners {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-top: 48px;

	border-top: 1px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}	


.partner-columns {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 260px;
	margin-bottom: 38px;
}

.partner-columns a {
	padding: 0;
	margin: 0;
}


/*.partners {
	padding: 0;
	margin: 0;
	padding-top: 50px;
	padding-bottom: 40px;
	
	text-align: center;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;


}

.partners a {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	margin-right: 80px;
}


*/
/*разметка каталога.html*/
.page-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;

	text-align: center;
}

.site-navigation-current a{
	border-bottom: 2px solid #fb565a;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
	
	/*min-height: 2025px;*/
}

/*фильтер*/

.filters form {
	margin: 0;
	padding: 0;
	width: 260px;
	
	/*временно*/
	min-height: 776px;
}


.filter-price {
	border: none;
	background-color: #eeeeee;
}

.price label {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #283136;

	text-transform: uppercase;
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}

.filter ul {
	list-style: none;
	line-height: 20px;

	color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #283136;
}

.filter-input:disabled + label {
	color: #283136;

	opacity: 0.5;
}

.filter-button {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;

	background-color: #eeeeee;
	border: none;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf;
}

.filter-button:active {
	opacity: 0.3;
	background-color: #5d5d5d;

	border-top: 3px solid #bfbfbf;
}

/*сортировка каталога*/

.catalog-sorting {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 760px;

	min-height: 75px;
}

.catalog-sorting span {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	width: 160px;

	text-transform: uppercase;
}

.catalog-controls {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
	width: 360px;
}

.catalog-sorting a {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	opacity: 0.3;

	text-transform: uppercase;
}

.catalog-sorting a:hover,
.catalog-sorting a:focus {
	opacity: 0.6;
} 

.catalog-sorting a:active,
.catalog-sorting .catalog-sorting-active {
	opacity: 1;
}

.catalog-sorting .catalog-sorting-active:hover,
.catalog-sorting .catalog-sorting-active:focus {
	opacity: 1;
}


/*каталог шаблонов*/

.catalog {
	margin: 0;
	padding: 0;
	width: 760px;
}


.catalog-list {
	display: flex;
	padding: 0;
	margin: 0;
	margin-bottom: 25px;

	flex-wrap: wrap;
	justify-content: space-between;

	list-style: none;
}

.catalog-item {
	position: relative;
	width: 360px;
	margin-bottom: 33px;

	min-height: 617px;
}

.hover-info {
	position: absolute;
	bottom: 0;
	width: 360px;
	background-color: #eeeeee; 

	min-height: 230px;
}

.hover-info h3 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;

	text-transform: uppercase;
}

.hover-info span {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}

.button-price {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;

	background-color: #fb565a;
	border: none;
}

.button-price:hover,
.button-price:focus {
	background-color: #e74246;
}

.button-price:active {
	background-color: #d7373b;
}

/*кнопки пагинации*/


.pagination-list {
	margin: 0;
	padding: 0;
	width: 444px;
	

	list-style: none;
	/*временно*/
	background-color: #eeeeee;
	min-height: 50px;
}

.pagination-item a,
.button-paginator-next {
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus,
.button-paginator-next:hover,
.button-paginator-next:focus {
	background-color: #dfdfdf;	
}

.pagination-item a:active,
.button-paginator-next:active {
	opacity: 0.3;
	background-color: #5d5d5d;

	border-top: 3px solid #bfbfbf;	
}

.pagination-item-current a {
	color: #000000;
	background-color: transparent;
	border: 3px solid #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,		
.pagination-item-current a:active {
	color: #000000;
	border: 3px solid #dbdbdb;
	background-color: transparent;	
}

/*футер*/
.main-footer-inner {
	margin-top: 60px;
}

.main-footer {
	margin-top: 80px;
}



/*карта и контакты*/
.footer-contacts {
	position: relative;
	color: #666666;
	margin-bottom: 70px;
}

/*вместо карты*/
.footer-contacts .map-image {
	margin: 0;
	padding: 0;
	background-color: #000000;
	width: 100%;
	min-height: 416px;
	background-image: url(../img/Map.png);
	background-position: 0 0;
  	background-repeat: no-repeat;
}

.contact-area {
	position: absolute;
	margin: 0;
	padding: 0;
	/*width: 319px;*/
	top: 55px;
	
	padding-left: 50px;
	padding-top: 50px;
	background-color: #ffffff;
}

.contact-area b {
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.contact-area p {
	padding: 0;
	margin: 0;
	margin-bottom: 15px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}

.contact-area span {
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;

	font: inherit;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}

.button-contact-area {
	width: 220px;

	margin-right: 50px;
	margin-bottom: 50px;
}

.footer-social	{
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;

	min-height: 80px;
}

.footer-social ul {
	display: flex;
	justify-content: space-between;
	margin-left:-40px;
	list-style: none;
}

.footer-social li {
	padding: 0;
	margin: 0;
	width: 80px;
}
.social-buttons {
	width: 260px;
	margin-right: 140px;
}

.friends {
	margin-top: -35px;
	width: 560px;
}

.social-button {
	color: #000000;
}

.friends p {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;

	margin-bottom: 9px;
}

.friends span {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}


/*форма связи*/
.contact-form fieldset {
	border: none;
}

.modal legend {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.contact-item input,
.contact-item textarea {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;	

	background color: transparent;
	border: 2px solid #d7dcde;

}

.contact-item label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}

.button {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
	background-color: #fb565a;
}


.contact-item input:focus,
.contact-item textarea:focus {
	border-color: #000000;

}

.contact-item input:hover,
.contact-item textarea:hover {
	border-color: #b4b9bb;
}
